<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="tailwind.min.css">                                    
    <link rel="stylesheet" href="./firstLayer.css" />
    <title>Defect Management System</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <form action="/" method="get" id="homeForm"></form>
    <script>
      (function tokenValidate() {
        console.log('tokenValidating');
        if (localStorage.getItem('token') == null) {
          console.log('invalid');
          document.getElementById('homeForm').submit();
        } else {
          console.log('valid');
        }
      })();
    </script>

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="../resources/tailwind.config.js"></script> -->
  </head>
  <body>
    <div>
      <div class="header">
        <div style="display: flex; align-items: center; padding: 1%">
          <img
            src="./icons/home.png"
            title="Home"
            id="home-icon"
            alt="Home"
            onclick="document.getElementById('followerForm').submit();"
          />
          <div class="heading">Defect Management System</div>
          <p class="selected-message">Body Number : <%= currentBodyNumber %></p>
        </div>
        <form id="btn" action="/logout" method="get" class="logoutButton">
          <div class="admin" id="user-mode-name"><%= currentUser %></div>
          <button
            type="button"
            onclick="logout()"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>
      <div id="title-name-content">
        <div class="sub_container">
          <img
            src="./icons/arrow.png"
            title="Back"
            id="go-back-icon"
            alt="Go Back"
            onclick="document.getElementById('followerForm').submit();"
          />
          <p id="title-name">Select Category:</p>
        </div>
        <!-- Toggle Switch for online / offline -->
        <div id="toggle" class="mt-10 ml-8">
          <div class="flex w-full mb-8">
            <label
              id="label_switch"
              for="toggle_switch"
              class="flex items-center cursor-pointer"
              style="justify-content: center"
            >
              <div class="relative">
                <input
                  type="checkbox"
                  id="toggle_switch"
                  class="sr-only mode"
                  onclick="dynamicText()"
                />
                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                <div
                  class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"
                ></div>
              </div>
              <div
                class="ml-2 text-gray-300 font-medium text-2xl"
                id="mode_status"
              >
                Online
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="content_list">
          <% for(let i = 0 ; i < categoryList.length ; i++){ %>
          <button
            onclick="transmit('<%= categoryList[i].category%>')"
            class="form-content"
            id="first-layer-button<%= i+1 %>"
          >
            <%= categoryList[i].category%>
          </button>
          <%}%>
        </div>
      </div>

      <form action="/follower" id="followerForm" method="post">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/firstlayer" method="post" id="firstLayerForm">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input
          type="hidden"
          id="currentBodyNumber"
          name="currentBodyNumber"
          value="<%= currentBodyNumber %>"
        />
        <input
          type="hidden"
          id="defectBodyNumberStatus"
          name="defectBodyNumberStatus"
          value="<%= defectBodyNumberStatus %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/secondlayer" method="post" id="secondLayerForm">
        <input
          type="hidden"
          name="selectedCategory"
          id="selectedCategory"
          value=""
        />
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input
          type="hidden"
          id="currentBodyNumber"
          name="currentBodyNumber"
          value="<%= currentBodyNumber %>"
        />
        <input
          type="hidden"
          id="defectBodyNumberStatus"
          name="defectBodyNumberStatus"
          value="<%= defectBodyNumberStatus %>"
        />
        <input type="hidden" name="mode" id="mode" value="" />
        <input type="hidden" class="token" name="token" value="" />
      </form>
    </div>

    <script>
      console.log('token: ', localStorage.getItem('token'));

      const categoryList = '<%= categoryList %>';

      const tokenElements = document.getElementsByClassName('token');

      Object.values(tokenElements).map((tokenElement) => {
        tokenElement.value = localStorage.getItem('token');
      });

      modeDOM = document.getElementsByClassName('mode')[0];
      
      const mode = "<%= mode %>"
      if(mode == 'online'){
        modeDOM.checked = true;
        document.getElementById('mode_status').innerHTML = 'Online';
      }else{
        modeDOM.checked = false;
        document.getElementById('mode_status').innerHTML = 'Offline';
      }

      function dynamicText() {
        if (!modeDOM.checked) {
          modeDOM.checked = false;
          document.getElementById('mode_status').innerHTML = 'Offline';
        } else {
          modeDOM.checked = true;
          document.getElementById('mode_status').innerHTML = 'Online';
        }
      }

      async function transmit(selectedGroup) {
        var mode = 'online';
        if (!modeDOM.checked) {
          mode = 'offline';
        }
        const secondLayerForm = document.getElementById('secondLayerForm');
        document.getElementById('selectedCategory').value = selectedGroup;
        document.getElementById('mode').value = mode;
        secondLayerForm.submit();
      }

      function logout() {
        localStorage.removeItem('token');
        Object.values(tokenElements).map((tokenElement) => {
          tokenElement.value = '';
        });
        document.getElementsByClassName('logoutButton')[0].submit();
      }
    </script>
  </body>
</html>
